:host {
  background-color: var(--background-color);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh repeat(4, 250vh);
}

.big-circle {
  --circle-size: 250px;
}

.medium-circle {
  --circle-size: 175px;
  font-size: 25px;
}

.primary {
  background-color: var(--primary-color);
  color: var(--on-primary-color);
  --circle-color: var(--on-primary-color);
  --circle-content-color: var(--primary-color);
}

.secondary {
  background-color: var(--secondary-color);
  color: var(--on-secondary-color);
  --circle-color: var(--on-secondary-color);
  --circle-content-color: var(--secondary-color);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.main-container {
  animation: fadeIn, fadeOut;
  animation-range: 0% 30%, 70% 100%;
  animation-timeline: view();

  display: flex;
  align-items: center;
}

.sticky-content {
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.center-aligned {
  justify-content: space-evenly;
  text-align: center;
}

.right-aligned {
  justify-content: right;
  text-align: right;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-image {
  display: flex;
  width: 100%;
  height: auto;
  align-items: flex-end;
  transform: translateY(5px);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-light.animate {
  animation: fadeInUp 0.5s forwards;
}

.text {
  font-size: 76px;
}

.text-light {
  opacity: 0; // Start hidden
  font-size: 72px;
  font-weight: 200;
}

.big-screen-small-padding-right {
  padding-right: 50px;
}

.big-screen-big-padding-right {
  padding-right: 100px;
}

.small-screen-padding-bottom {
  padding-bottom: 0;
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  .big-circle {
    --circle-size: 200px;
  }
  
  .medium-circle {
    --circle-size: 125px;
    font-size: 16px;
  }

  .text {
    font-size: 52px;
  }
  
  .text-light {
    font-size: 46px;
  }
}

@media screen and (max-width: 800px) {
  .big-circle {
    --circle-size: 175px;
  }
  
  .medium-circle {
    --circle-size: 100px;
    font-size: 16px;
  }

  .text {
    font-size: 36px;
  }
  
  .text-light {
    font-size: 32px;
  }

  .wrapper {
    flex-direction: column;
  }

  .big-screen-small-padding-right {
    padding-right: 0;
  }

  .big-screen-big-padding-right {
    padding-right: 0;
  }

  .small-screen-padding-bottom {
    padding-bottom: 50px;
  }
}